body{
  font: 20px Arial, sans-serif;
}

.navbar {
  background-color: #767775;
}

.quemsomos {
  background-color: #c5c5c5;
  color: black;
}

.margin{
  padding-bottom: 50px;
  padding-top: 10px;

}

.parceiros{
  background-color: #c5c5c5;
  color: black;
}

.servicos {
  background-color: whitesmoke;
  color: black;
  font-size: large;
}

.bg-footer{
  margin-top: 30px;
  background-color: black;
  color: white;
  font-size: small;
}